@import "tailwindcss";

@theme {
  --color-brand: #aa3bff;
  --color-brand-light: #d8b4fe;
}

body {
  @apply bg-slate-50 text-slate-900;
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
}
